p {
    font-size: 25px;
}


h2 {
  font-size: 40px;
}

.text p {
  display: inline-block;
  float: left;
  clear: both;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(98, 166, 238);
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8em;
}

.textbox {
  height: 500px;
  padding: 50px;
  margin-bottom: 20px;
  border: solid 2px #090808;
  background-color: #ffffff;
  border-radius: 25px;
  margin: auto;
}

.text2 p{
  float: right;
  clear: both;
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(29, 178, 81);
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8em;
}

#output{
  width: 100%;
}