/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }


.Selfie {
  margin: 1px;
  max-width: 600px;
}

img {
  border-width: 5px;        /* Width of the border */
  border-style: solid;       /* Style of the border */
  border-color:grey;        /* Color of the border */
}

#Caption {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin-top: -1px;
}