/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.header {
  color: red;
  font-family: 'Times New Roman';
  background-color: black;
  border: solid 3px lightblue;
  padding: 1px;
  margin-bottom: 20px;
  text-align: center;
  display: inline;
}

.center {
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;           
}
  
#para1 {
  background-color: lightcoral;
  border: solid 1px;
  padding: 10px;
  text-align: center;
  font-family: 'Times New Roman';
  color: whitesmoke;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #1d21e4;
  color: white;
}